html {
     margin:0; /* remove default margin */
     padding:0; /* remove default padding */
     width:100%; /* take full browser width */
     height:100%; /* take full browser height*/
}

body {
    margin: 0;
    background-color: powderblue;
    padding: 15px;
    overflow-x: hidden;
    font-size: calc(0.75em + 1vmin);
}

body.sample {width:100%}

p {
  font-size: 20vw;
}

/* HEADER CSS */

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    margin-bottom: 200px;
    background-color: white;
}

/* NAV CSS (site title, dropdown menu)*/

nav {
    position: absolute;
    width: 100%;
    height: 210px;
    background-color: LemonChiffon;
    top: 0;
    text-align: center;
}

/* IMAGE */

.img-div { height:100%; width:100%;}
img { max-height:100%; }

/* MENU */

* { padding: 0; margin: 0; }
body { font-family: monospace; }
a { text-decoration: none; color: black; }
li { list-style-type: none; }

div a {
	display: block;
	padding: 8px 0;
	border-bottom: 1px solid #C3AA6E;
	color: mistyrose;
}
div a:hover { background: black; color: Medium Slate Blue; }
div li:last-child a { border-bottom: none; }

/*-----------------------------------------*/

.menu {
	width: 180px;
	height: 20%;
	position: absolute;
	background: plum;
  top: 300px;
	left: 0;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;

}

#menuToggle { display: none; }

#menuToggle:checked ~ .menu { position: absolute; left: 0; }

/* MOTO CSS */

#moto {
    position: relative;
    top: 55px;
    font-size: 50px;
    line-height: 1.2;
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.1em
}

#moto2 {
    position: relative;
    top: 45px;
    font-size: 20px;
    line-height: 1.2;
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.1em
}

/* FIRST SECTION BLURB */

#blurb {
    position: absolute;
    top: 320px;
    font-size: 27px;
    line-height: 1.5;
    color: flowerwhite;
    max-width: 100%;
    width: 100%;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.15em;
}


/* PAPER  */
.paper {
    padding: 37px 55px 27px;
    position: relative;
    border: 1px solid #B5B5B5;
    background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
    top: 800px;
    left: 30px;
    max-width: 900px;
    width: 850px;
    height: 940px;
}
.paper::before {content:""; z-index:-1; margin:0 1px; width:850px; height:10px; position:absolute; bottom:-3px; left:0; background:white; border:1px solid #B5B5B5;}
.paper::after {content:''; position:absolute; width:0px; top:0; left:39px; bottom:0; border-left:1px solid #F8D3D3;}


/* SECOND SECTION OF MAIN PAGE*/

#separator {
  position: absolute;
  left: 0;
  right: 0;
  top: 450px;
  width: 100%;
  height: 400px;
  background-color: lightyellow;
}


/* BG INFO */

#image {
  position: absolute;
  top: 50px;
  left: 30px;
  max-width: 750px;
  width: 700px;
  height: 600px;
}


#bgtitle {
  position: relative;
  top: 60px;
  font-size: 5px;
  line-height: 0.5;
  color: black;
  max-width: 40%;
  width: 40%;
  right: 50px;
  text-align: left;
  font-family: monospace;
  letter-spacing: 0.10em;

  @media (min-width: 00px) {
    p {
      font-size: 5px;
    }
  }
}

#bgdescrip {
  position: absolute;
  top: 150px;
  font-size: 10px;
  line-height: 1.0;
  color: black;
  max-width: 40%;
  width: 40%;
  right: 50px;
  text-align: right;
  font-family: monospace;
  letter-spacing: 0.15em;
  @media (min-width: 800px) {
    p {
      font-size: 5vw;
    }
  }
}


/* CRED AT BOTTOM */

#cred {
  position: absolute;
  top: 1735px;
  font-size: 15px;
  line-height:1.1;
  color: plum;
  max-width: 100%;
  right: 25%;
  text-align: center;
  font-family: monospace;
  letter-spacing: 0.1em;
}


/* SECOND SECTION OF PAGES with CREDS*/

#separator2 {
  position: relative;
  left: 0;
  right: 0;
  top: 800px;
  width: 100%;
  height: 100px;
  background-color: plum;
}

#creds {
  position: relative;
  top: 70px;
  color: blue;
  font-size:15px;
  text-align:center;
}

/* RESUME PAGE */

#resumedescrip {
  position: absolute;
  top: 150px;
  font-size: 20px;
  line-height: 1.5;
  color: plum;
  max-width: 80%;
  width: 80%;
  left: 150px;
  text-align: center;
  font-family: monospace;
  letter-spacing: 0.20em;
  @media (min-width: 800px) {
    p {
      font-size: 10vw;
    }
  }
}

#separator5 {
  position:absolute;
  left: 230px;
  right: 50px;
  top: 300px;
  width: 75%;
  height: 50px;
  background-color: plum;
}

#image5 {
  position: relative;
  top: 150px;
  left: 120px;
  max-width: 750px;
  height: 200px;
}

/* CONFERENCE PAPERS PAGE */

#image2 {
  position: absolute;
  top: 280px;
  left: 230px;
  max-height: 75%;
  max-width: 75%;
}

#image3 {
  position: relative;
  top: 200px;
  left: -100px;
  width: 200px;
}

#separator3 {
  position:relative;
  left: 230px;
  right: 50px;
  top: 50px;
  width: 75%;
  height: 900px;
  background-color: plum;
}

#moto3 {
    position: relative;
    font-size: 20px;
    line-height: 1.2;
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.1em
}

#separator4 {
  position:relative;
  left: 230px;
  right: 50px;
  width: 75%;
  height: 30px;
  background-color: plum;
}


form {
  position: absolute;
  width: 100%;
  padding: 5px 400px;
  margin: 8px 0;
}

input[type="text"] {
  font-family: monospace;
  text-align: left;
  padding-left: 10px: ;
  position: relative;
  top: -148px;
  left: -100px;
  width: 500px;
}

#submitrow{
  width: 200px;
}
