<!DOCTYPE html>

<html>
    <input type="checkbox" id="menuToggle">
    <meta name="viewport" content="width=device-width; height=device-height; initial-scale=0.5; maximum-scale=0.5; minimum-scale=0.5;">
    <head>
        <title> YOU JEEN HA </title>
        <link rel= "stylesheet" type="text/css" href="main.css" />
    </head>

<body>
  <header>
    <nav class ="site-nav">
    </nav>
    <div class="menu">
    	<ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="planner.html">PLANNER</a></li>
      </ul>
    </div>
  </header>
    <!-- <img src="/Users/hyoujeen/Desktop/website/profile.png" class="left" id="image4"> -->
    <p id="contactdet">
      <br />
      If you wish to send me paper mail,
      <br />
      my address is 1 Chapin Way, Unit Number 6365
      <br />
      Northampton, MA 01063.
    </p>
  <div class="section" id="separator2">
    <p id="creds"> Smith College | Northampton, MA 01063 | &copy 2018 </p>
  </div>
</body>

</html>
