<!DOCTYPE html>

<html>
    <input type="checkbox" id="menuToggle">
    <meta name="viewport" content="width=device-width; height=device-height; initial-scale=0.5; maximum-scale=0.5; minimum-scale=0.5;">
    <head>
        <title> SLEEP TIME </title>
        <link rel= "stylesheet" type="text/css" href="main.css" />
    </head>

<body>
  <header>
    <nav class ="site-nav">
    </nav>
    <div class="menu">
    	<ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="planner.html">PLANNER</a></li>
          <li><a href="contact.html">CONTACT</a></li>
      </ul>
    </div>
    <p id="moto"> GY$T </p>
    <p id="moto2">
      <br />
      Get your $h*t together.
    </p>
  </header> 
  <div class="section" id="separator">
  <div id= "bgtitle" class = "paper">GY$ST!</div>
    <p id="bgtitle">
      OBJECTIVE:
      We understand that life is hectic, and we want to help organize and sort your daily routines.
      <br />
      Every morning, input in your work priorities, preferred meal times, hygenic routines, and sleep schedule
      <br />
      to create a timeline for the remainder of your day. Self-care is important!
      <br />
      </p>
  </div>
    <div style="height:900px;width:100%;margin:0 auto;background-color:floralwhite;font-size:35px">
      <p id="cred"> Smith College | Northampton, MA 01063 | &copy 2018 </p>
    </div>
</body>

</html>
